   <!-- Section -->
    <section class=" pt-100 pb-80" id="about" >
       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">硕博生如何高效阅读文献?</h2>
                        <p class="sub-heading">昆明理工大学 <br> 复杂机电系统智能控制研究所</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <a href="http://www.iemcs.org/" target="_blank" ><img src="{{site.baseurl}}/images/jdxueyuan.jpg" class="img-responsive border radius" alt=""></a>
                </div>
                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-heart"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">一个目的</h6>
                                <p>寻找创新思路</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-chatbubbles"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">两个问题</h6>
                                <p>这篇文章解决了什么问题（是否感兴趣？）</p> 
                                <p>这篇文献是否具有创新型（有则进行三个思考？）</p> 
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-people-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">三个思考</h6>
                                <p>作者如何想到这个解决思路的（作者的创新方法？）</p>
                                <p>该方法本身有没有缺陷，是否何以改进？</p>
                                <p>解决该问题是否有其他方法？</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>