   <!-- Section -->
    <section class="bg-white pt-100 pb-80" >
       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">第33届中国控制与决策会议</h2>
                        <!-- <p class="sub-heading"></p> -->
                    </div>
                </div>

                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <p class="lead">
                        中国控制与决策会议是当前控制、系统、决策理论与相关技术领域的大型国际学术会议。会议旨在为从事相关领域教育和研究的国内外专家、学者及工程技术人员提供一个学术交流平台。
                    </p>
                    <blockquote>
                        智能控制·自主决策·智慧未来
                    </blockquote>
                    <p><small>
                        <span><strong>中国·昆明</strong></span><br>
                        <span>2021年5月22日-24日</span>
                    </small></p>
                    <a class="btn btn-primary" href="http://www.ccdc.neu.edu.cn/" target="_blank">Read More</a>
                </div>
                  <div class="col-md-6 mt-20" data-aos="fade-up">
                    <a href="http://www.bing.com/" target="_blank" ><img src="{{site.baseurl}}/images/CCDC.png" class="img-responsive border radius" alt=""></a>
                </div>
            </div>
        </div>
        
    </section>